@import "ui/components/core/config";
@import "ui/components/core/utils";
@import "ui/components/header/config";

$try-now-button-height: 90px;

.introduction-section {
    //background-size: 100% auto;
    //background: url("ui/images/top-background.svg") no-repeat 50% 0;
    font-family: $font-family-base;

    .introduction-section__content {
        z-index: 1;
    }

    .introduction-section__background{
        top: 0;
        //width: 100%;
        width: 1600px;
        position: absolute;
        left: 50%;
        transform: translate(-950px, -85px);
    }

    .introduction-section__header {
        font-size: 72px;
        line-height: 90px;
        font-weight: 700;
        color: $color-black;
        text-transform: capitalize;
        letter-spacing: -5px;
        margin-top: 2 * $vertical-unit;
        margin-bottom: $vertical-unit;
    }

    .introduction-section__sub-title {
        margin-bottom: 2 * $vertical-unit;
        font-size: 25px;
        line-height: 40px;
    }

    .button.try-now-button {
        margin-bottom: 3 * $vertical-unit;
        font-size: 52px;
        height: $try-now-button-height;
        border-radius: $try-now-button-height;
        line-height: $try-now-button-height;
        text-transform: capitalize;
        letter-spacing: -1px;
    }

    .beta-announcement {
        font-size: 18px;
        text-transform: none;
        padding: 0 70px;
        //background-color: #fee7ce;
        color: $color-text-gray-medium;
        font-weight: 400;
    }

    .footer__main {
        height: $header-main-height;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }

    .footer__main-placeholder {
        height: $header-main-height;
    }
}

.examples-section{
    .examples-section__header {
        font-size: 60px;
        font-weight: 700;
        color: $color-white;
        text-transform: capitalize;
        letter-spacing: -2px;
        margin-top: 2 * $vertical-unit;
        margin-bottom: $vertical-unit;
    }

    h2 {
        font-size: 30px;
        font-weight: 400;
        color: $color-white;
        letter-spacing: -1;
        line-height: 40px;
    }
}


.tabs__tab {
    display: block;
    padding-bottom: 0.5 * $vertical-unit;
    color: $color-text-gray-medium-light;
    font-size: 18px;
    line-height: 45px;

    &.is-active {
        color: $color-text-white;
    }
}

.tabs__pane {
    display: none;

    &.is-active {
        display: block;
    }
}

.icon-with-note {
    display: inline-block;
}

.icon {
    position: relative;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
    top: 7px;

    &._hello {
        background: url("ui/images/hello.svg");
    }

    &._concise {
        background: url("ui/images/concise.svg");
    }

    &._safe {
        background: url("ui/images/safe.svg");
    }

    &._java {
        background: url("ui/images/java.svg");
    }

    &._android {
        background: url("ui/images/android.svg");
    }

    &._tooling {
        background: url("ui/images/tooling.svg");
    }

    &._dsl {
        background: url("ui/images/dsl.svg");
    }

    &._web {
        background: url("ui/images/web.svg");
    }

    &._easy {
        background: url("ui/images/learn.svg");
    }

    &._twitter {
        background: url("ui/images/logos/twitter.svg");
    }

    &._kotlin-text {
        width: 103px;
        height: 23px;
        background: url("ui/images/logos/kotlin_small.svg") no-repeat;
        top: 27px;

        &._white{
            background: url("ui/images/logos/kotlin_small_white.svg") no-repeat;
        }

        &._big {
            width: 206px;
            height: 46px;
        }

    }
}

.code-sample {
    font-size: 18px;
    color: white;
}

.copyright {
    color: $color-text-white;
    font-size: 14px;
}

.testimonials-slide__header {
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    text-transform: capitalize;
    margin-bottom: $vertical-unit;
}

.testimonials-slide__sub-title {
    font-size: 36px;
    line-height: 42px;
}

.testimonials-slide__image {
    position: absolute;
    left: 0;
    top: -150px;
    width: 100%;
}

.testimonials-slide__customers {
    margin-top: 450px;

    .customer-block {
        font-size: 20px;
        line-height: 35px;
    }

    .customer-block__customer {
        color: $color-text-gray-light;
        font-size: 14px;
        padding-top: 0.5 * $vertical-unit;
        line-height: 24px;
    }

}

.footer-section {
    h1 {
        font-size: 72px;
        color: white;
        font-weight: 700;
        line-height: 90px;
        margin-bottom: 3 * $vertical-unit;
    }
}


