<nav role="navigation" class="nav-list _main g-row _justify-end">
    {% assign nav = site.data._nav.main %}
    {% for i in nav %}
        {% assign item_id = i[0] %}
        {% assign item = i[1] %}
        {% assign is_active = false %}
        {% assign is_external = false %}

        {% if item.show != null and item.show == false %}
            {% break %}
        {% endif %}

        {% if include.active and include.active == item_id %}
            {% assign is_active = true %}
        {% endif %}

        {% if item.url contains 'http://' %}
            {% assign is_external = true %}
        {% endif %}

        <a href="{% if is_external %}{{ item.url }}{% else %}{{ site.baseurl }}{{ item.url }}{% endif %}"
           class="nav-list__item"
        >
            {{ item.title }}
        </a>
    {% endfor %}
</nav>
